<div class="col-12 text-center d-flex justify-content-center">
    <form [formGroup]="myForm" (ngSubmit)="editEducacion()">
        <div class="m-5">
            <h1 class="texto app-title">Editar formación acádemica</h1>
            <hr>
            <div class="mb-3">
                <label for="exampleInputInstitucion" class="form-label">Institución</label>
                <input style="color:black" type="text" formControlName="institucion" class="form-control" id="exampleInputInstitucion"
                    [ngClass]="{'is-invalid': Institucion?.errors && Institucion?.touched}" required>
                    <!-- placeholder="Ingrese el nombre de la institución" required> -->
                    <!-- placeholder="{{institucion}}"  -->

                <div *ngIf="Institucion?.errors && Institucion?.touched">
                    <p *ngIf="Institucion?.hasError('required')" class="text-danger">
                        No puede dejar la institución en blanco.
                    </p>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputTitulo" class="form-label">Título</label>
                <input style="color:black" type="text" formControlName="titulo" class="form-control" id="exampleInputTitulo"
                    [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched}"
                    placeholder="{{titulo}}" required>
                <div *ngIf="Titulo?.errors && Titulo?.touched">
                    <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                        No puede dejar el título en blanco.
                    </p>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputDescripcion" class="form-label">Descripción</label>
                <input style="color:black" type="text" formControlName="descripcion" class="form-control" id="exampleInputDescripcion"
                    [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched}"
                    placeholder="{{descripcion}}" required>
                <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                    <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                        No puede dejar la descripción en blanco.
                    </p>
                </div>
            </div>
            <div class="-mt-5">
                <button type="submit" class="btn" style="background-color: #F5B1AA;">Aceptar</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="m-5">
        <button type="text" class="btn" style="background-color: #F5B1AA;"><a style="background-color:#F5B1AA"
                routerLink="/">Atrás</a></button>
    </div>
</div>
<div class="col-12">
    <br>
    <br>
</div>