<!-- <div *ngFor="let form of formList"> -->
<div class="position-relative">
    <div class="position-absolute top-0 start-0">
        <a target="_blank" href="https://argentinaprograma.inti.gob.ar">
            <img id="logo" src="\assets\arg-programa.png" alt="Argentina Programa">
        </a>
    </div>
    <div class="position-absolute top-0 end-0">
        <!-- <a target="_blank" [href]="form.url_github"> -->
        <a target="_blank" href="https://github.com/Lya1718">
            <img id="github" src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894__480.png"
                alt="GitHub Icon">
        </a>
        <!-- <a target="_blank" [href]="'mailto:' + form.url_correo"> -->
        <a target="_blank" href="mailto:ramoslou137@gmail.com">
            <img id="gmail" src="\assets\correo.png" alt="Gmail Icon">
        </a>
        <button *ngIf="!logeado; else logoutBtn" (click)="onLogin()" class="btn" style="background-color: #F5B1AA;">Login</button>
        <ng-template #logoutBtn>
            <button (click)="onLogout()" class="btn" style="background-color: #F5B1AA;">Logout</button>
        </ng-template>
    </div>
    <!-- <img id="banner-imagen" [src]="form.url_portada" alt="Banner"> -->
    <img id="banner-imagen" src="https://wallpaperaccess.com/full/235784.jpg" alt="Banner">
    <div id="bienvenida">
        <div #title class="title">
            <p fs-1 id="welcome" class="letter text-3d" *ngFor="let letter of letters">{{letter}}</p>
        </div>
    </div>
</div>