<div class="row">
    <div class="col-3"></div>
    <div class="containter col-6 center-text" style="color:white">
        <div>
            <h3 class="fw-bold fs-1 texto mt-5">Habilidades</h3>
            <br>
            <div>
                <a *ngIf="login" class="botones" routerLink="/skills-add"><img class="agregar"
                        src="\assets\sumablanca.jpg" alt="agregar"></a>
            </div>
            <!-- <a class="botones" routerLink="/skills-add"><img class="agregar" src="\assets\sumablanca.jpg" alt="agregar"></a> -->
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row d-flex justify-content-center align-items-center">
    <!-- <div class="col-sm-6 mr-5 ml-5 mb-3 mb-sm-0" *ngFor="let form of formList"> -->
    <div class="col-sm-6 mr-5 ml-5 mb-sm-0" *ngFor="let form of formList">
        <div>
            <div>
                <hr>
                <p class="fw-bold fs-4" style="color:white;">{{form.hability}}</p>
                <!-- <p class="fw-bold fs-4" style="color:white;">Java</p> -->
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-label="Animated striped example" [ngStyle]="{'width':numberToPercent(form.nivel)}"
                    aria-valuenow="80" aria-valuemin="0" style="background-color:#F5B1AA" aria-valuemax="100"></div>
                <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0"
                    style="background-color:#F5B1AA;width:50%;" aria-valuemax="100"></div> -->
            </div>
            <div *ngIf="login" class="mt-3">
                <a class="botones" (click)="editForm(form.id, form.hability, form.nivel)" routerLink="/skills-edit"><img
                        class="editar" src="\assets\lapizblanco.jpg" alt="editar"></a>
                <button type="button" class="btn" (click)="deleteSkill(form)"
                    style="background-color: #F5B1AA;">Eliminar</button>
                <!-- <button type="button" class="btn" style="background-color: #F5B1AA;">Eliminar</button> -->
            </div>
            <hr>
        </div>
    </div>
</div>